/* .banner{
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("./images/banner/banner1.jpg") center/cover no-repeat;
} */
/* .banner{
    background-size: cover;
    min-height: 90vh;
    position: relative;
    color: blanchedalmond;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
h1{
    font-size: :4rem;
}
.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
} */
.nav-bar{
    transition: 1s;
}

.nav-bar:hover{
    background-color: #cef134e7;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5PX;
    position: relative;
    /* overflow-y: scroll; */
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    /* overflow-y: scroll; */
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
    /* overflow-y: scroll; */
}
.navbar ul li:hover::after{
    width: 100%;
    /* overflow-y: scroll; */
}
html{
    scroll-behavior: smooth;
}
.banner{
    min-height: 100vh;
    background: url("./images/banner/banner1.jpg") center/cover no-repeat;
    position: relative;
    background-attachment: fixed;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #ff0000;
}
 /* .centered .tagline{
   color: rgb(236, 35, 35);
} */
.para{
    text-align: left;
  word-wrap: break-word;
}
.discover{
    
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("./images/products/background.jpg") center/cover no-repeat;
    position: relative;
    background-attachment: fixed;
    text-align: center;
    padding-top: 10%;
    color: aliceblue;

}
.discover button{
	color:black;
	padding: 10px;
	border:1px solid yellow;
	border-radius: 15px;
	background-color: yellow;
	font-weight: bold
}
.container{
    transform-style: preserve-3d;
    
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}
.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #519636,#c8ee22b7);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}